<header>
  <div class="container">
    <div class="pom">
    <img src="assets/slike/slika.png" class="logo">
    <a href="#" routerLink="/" class="logo">.Urban Living</a>
    </div>
    <div>
     <ul>
      <li>
        <a routerLink="/lamp">Lamps</a>
      </li>
      <li>
        <a routerLink="/candle">Candles</a>
      </li>
      <li>
        <a routerLink="/vase">Vases</a>
      </li>
      <li>
        <a href="#" routerLink="/cart-page">Cart</a>
      </li>
      <li>
        <a routerLink="/survey">Contact Us</a>
      </li>
      </ul>
    </div>
  </div>
</header>
