<section class="contacts" id="contacts">
  <div class="contact-us">
    <h2>Contact Us</h2>
  </div>
  <div class="contacts2">
    <div class="container">
    <div class="contactInfo">
      <div class="box">
          <div class="text">
            <h3>Address:</h3>
            <p>„Rugjer Boshkovikj 18 Skopje, Macedonia</p>
          </div>
      </div>
      <br>
      <div class="box">
        <div class="text">
          <h3>Phone:</h3>
          <p>075 678 298</p>
        </div>
      </div>
      <br>
      <div class="box">
        <div class="text">
          <h3>Email:</h3>
          <p>urban_living25 &#64; gmail.com</p>
        </div>
      </div>
      <br>
      <div class="box">
        <div class="text">
          <h3>Instagram:</h3>
          <p>urban_living_</p>
        </div>
      </div>
      <br>
      <div class="box"> 
        <div class="text">
          <h3>Facebook:</h3>
          <p>Urban Living</p>
        </div>
      </div>
    </div>
  </div>
  <div class="contactForm">
    <form>
      <h2>Send Message</h2>
      <div class="inputBox">
        <input type="text" name="" required="required" id="cd">
        <span id="typing-input">Full Name</span>
      </div>
      <div class="inputBox">
        <input type="text" name="" required="required" id="cd2">
        <span id="typing-input2">Email</span>
      </div>
      <div class="inputBox">
        <textarea required="required" id="cd3"></textarea>
        <span id="typing-input3">Type your Message here...</span>
      </div>
      <div class="inputBox">
        <input class="submit" type="submit" name="" value="Send">
      </div>
    </form>
  </div></div>  
</section>  
