div{
  display: flex;
  justify-content: center;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  background-color: rgb(173, 152, 131);
  border-top: 1px solid #300101;
  border-bottom: 0.1px solid rgb(219, 194, 170);
}
div input{
  border-radius: 10rem 0 0 10rem;
  border: none ;
  height: 3rem;
  width: 20rem; 
  background-color: #f1f1f1;
  padding: 1.2rem;
  font-weight: 500; 
  font-size: 1rem;
  outline: none; 
}
div button{
  color: grey;
  height: 3rem;
  width: 5rem;
   font-size: 1rem;
  border-radius: 0 10rem 10rem 0;
  border: none; 
  background-color: #7f0000;
  color: white;
  opacity: 0.7;
  outline: none;
}
div button:hover{
  opacity: 1; 
  cursor: pointer;
}